#before_kitchen1 {
  width: 50%;
  display:block;
  margin:auto;
border:4px solid black;
}
#kitchen_1_remodel1 {
  width: 50%;
  display:block;
  margin:auto;
  border:4px solid black;
}
#kitchen-2_remodel {
  width: 50%;
  display:block;
  margin:auto;
  border:4px solid black;
}
#before_bathroom_1 {
  width: 50%;
  display:block;
  margin:auto;
  border:4px solid black;
}
#bathroom_remodel_1 {
  width: 50%;
  display:block;
  margin:auto;
  border:4px solid black;
}
#bathroom_remodel_2 {
  width: 50%;
  display:block;
  margin:auto;
  border:4px solid black;
}
#bathroom_remodel_3 {
  width: 50%;
  display:block;
  margin:auto;
  border:4px solid black;
}
#ftcc_logo {
  width: 50%;
  display:block;
  margin:auto;
}
.center_txt{
  text-align: center;
  width: 90%;
  margin:auto;
}
