#before_kitchen1 {
  text-align: center;
  width: 50%;
}
#kitchen_1_remodel1 {
  text-align: center;
  width: 50%;
}
#kitchen-2_remodel {
  text-align: center;
  width: 50%;
}
#before_bathroom_1 {
  text-align: center;
  width: 50%;
}
#bathroom_remodel_1 {
  text-align: center;
  width: 50%;
}
#bathroom_remodel_2 {
  text-align: center;
  width: 50%;
}
#bathroom_remodel_3 {
  text_align: center;
  width: 50%;
}
#ftcc_logo {
  text-align: center;
}
