* {
   margin:0;
}

header {
  border:5px solid white;
  display: flex;
  justify-content: space-between;
}

nav {
border-bottom: 2px solid rgb(196, 71, 203);
}

.navbar {
   list-style: none;
   padding-left: 0px;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: black;
  padding: 10px;
  text-decoration: none;
}
.nav_first {
  padding-left:20px;
}

.navbar li:hover a {
  color:rgb(196, 71, 203);
}

main {
  border: 2px solid lightgray;
}

footer {
  border: 2px solid rgb(196, 71, 203);
  display: flex;
  justify-content: space-between;
  background-color: rgb(196, 71, 203);
  color: white;
  padding: 10px;
}
/* HEADER AREA */
.site_header {
  padding:10px;
  background-color: white;
  color: white;
  font-family: sans-serif;
}

.left_header {
  width: 30%;
  display:flex;
  align-items: center;

}
.right_header {
  width: 30%;
  display: flex;
  align-items: center;
  text-align: right;
}

.center_header {
  width: 30%;
}

.center_header img {
  width:100%;
}

/*FOOTER AREA*/

.footer_left {
  width: 30%;
}
.footer_right {
  width: 60%;
}
